* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	background-color: #2A2A2A;
}

nav {
	background-color: #262626;
	height: 80px;
}

nav .logo a {
	color: #fff;
	line-height: 20px;
	font-size: 24px;
	float: left;
	padding: 15px 15px;
	padding-left: 35px;
	margin-top: 15px;
	font-weight: bold;
}

nav ul {
	float: right;
	padding: 15px 15px;
	padding-right: 35px;
	font-size: 14px;
	margin-top: 20px;
	font-weight: bold;
	font-family: arial;

}

nav ul li {
	display: inline-block;
	list-style-type: circle;
}

nav ul li.active a {
	color: #FF6760;
}

nav ul li a {
	color: #D8D8D8;
	text-decoration: none;
	margin-right: 35px;
	text-transform: uppercase;
}

header {
	color: #D8D8D8;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

header h1 {
	margin-top: 65px;
	font-size: 44px;
	font-weight: 300;
}

header h1 span {
	font-weight: bold;
}

header h2 {
	margin-bottom: 65px;
	font-size: 36px;
	font-weight: 300;
}

header h2 span {
	color: #EB615B;
}

.space{
	background-color: #F6F6F6;
	height: 50px;
}

.hci{
	color: #D8D8D8;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.hci h3{
	margin-top: 45px;
	font-weight: bold;
	font-size: 22px;
}

.hci p{
	font-size: 18px;
}

.hci a {
	background-color: #FF6760;
	padding: 15px 20px;
	text-transform: uppercase;
	border: none;
	border-radius: 10px;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	margin-bottom: 45px;
}

.features {
	background-color: #F6F6F6;
	color: #616161;
}

.content{
	display: flex;
	justify-content: center;
}

.item {
	width: 30%;
	text-align: center;
	margin: 25px 0;
}

.item h4 {
	font-size: 20px;
	padding: 5px 0;
}

.item p {
	font-size: 16px;
	padding: 10px 0;
}

footer {
	color: #D8D8D8;
	text-align: center;
}

footer h3 {
	margin: 50px 0 25px;
	font-size: 24px;
}

footer p {
	color: #858585;
	font-size: 16px;
	padding: 3px 0;
}

footer p a {
	color: #793F3D;
}

.socialIcons {
	margin: 15px 0 50px;
}

.socialIcons a {
	color: #fff;
}

.socialIcons .fa-twitter {
	background-color: #5DAED5;
	padding: 5px;
	border-radius: 50%;
}

.socialIcons .fa-facebook {
	background-color: #4470CF;
	padding: 5px 8px;
	border-radius: 50%;
}